
<!--------------- navbar  --------------->
    
<%- include('navbar'); -%>


    <div class="category-container">
      <div class="container mt-5 pt-5">
        <h3 class="category-title"></h3>
      </div>
    
      <div class="container d-flex gap-5 pt-3 flex-c">
        <div class="account-sidebar">
          <div class="sidebar-profile-menu">
            <h6 class="mb-3 border-bottom border-dark">Account</h6>
            <div class="sidebar-category-link">
                
                <% if(userInformation.useremail) { %>
            
                    <a href="/userProfile/<%= userInformation.userid %>" class="d-flex ms-2 mb-3" style="font-size: 15px">Profile</a>
        
                    <a href="/userAds/<%= userInformation.userid %>" class="d-flex ms-2 mb-3" style="font-size: 15px">My Ads</a>
        
                    <a href="/changePassword/<%= userInformation.userid %>" class="d-flex ms-2 mb-3" style="font-size: 15px">Change Password</a>
          
                    <% } %> 
    
              <a
                class="d-flex ms-2"
                style="font-size: 15px"
                href="#"
                onclick="UserLogout()">Logout</a>
            </div>
          </div>
        </div>
    
        <div class="container text-center">
          <div class="row">
            <div class="col-12 mb-4">
              <h5>Change Password</h5>
            </div>

            <div class="col-12 mt-5">
              <form action="" method="post" class="mx-auto mt-3" style="width: 20rem">
                <div class="mb-4">
                  <input type="password" name="password" class="form-control border-primary" placeholder="New Password" />
                </div>
                <div class="mb-4">
                  <input type="password" name="cPassword" class="form-control border-primary" placeholder="Confirm Password"/>
                  <div id="emailHelp" class="form-text">
                    Password must be 8 digit long.
                  </div>
                </div>
    
                <button
                  type="submit"
                  class="btn btn-primary mt-3 mb-5"
                  style="width: 100%"
                >
                  Change Password
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- footer start  -->
    <%- include('footer'); -%>
    
    
    